/* Navbar */

.nav-ul{
  border-bottom: 1px solid white;
  padding-bottom: 1px;
}

/* Authenticate */

.auth-img{
  width: 100%;
  object-fit: cover;
  background-position: center center;
  filter: brightness(70%);
}

.auth-cont{
  background-color: transparent;
  border: 2px solid rgba(0,204,200,0.8);
  border-radius: 15px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0,204,200,0.8);
  filter: brightness(100%);
}
.inputs-border{
  position: relative;
  border-bottom: 1px solid #00cccc;
  border-left: 1px solid #00cccc;
  border-right: 1px solid #00cccc;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}
.inputs-border::placeholder{
  color:#00cccc;
  opacity: 0.5;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #00cccc83;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #00cccc; 
}


#authBtn:hover{
  animation: expand .6s forwards;
  font-size: 20px;
}

@keyframes expand {
  from {
    width: 70px;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(0,204,200);
  }
  to {
    width:100%;
    height:50px;
    border: 2px solid rgba(0, 204, 200);
    background-color: rgba(0 ,36 ,66);
    border-radius: 10px;
    font-size:30px;
    font-weight: 700;
  }
}

.si-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top :2px solid #00cccc;
  padding: 10px 0 10px 0;
  font-size: 25px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.si-box:hover{
  background-color: #00cccc;
  color: #001e37;
  font-weight: 700; 
  transition: all .6s ease;
}

.auth-fading{
  animation: fading .6s forwards;
}

@keyframes fading {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to{
    opacity: 0;
    transform: translateY(150px);
  }
}

.auth-active{
  animation: displaying .6s forwards
}

@keyframes displaying {
    from {
      opacity: 0;
      transform: translateY(150px)
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

.icon-box {
  border: 1px solid rgba(0,204,204,0.5);
  padding:10px;
  border-radius: 12px;
}

.icon-box:hover g{
  fill:#00cccc;
  transition: all .4s ease;
}

/* Home */

.bg-header{
  position: relative;
  background-image: url('./Assets/AI_Spectrum.svg');
  background-color: rgba(11,39,61,1);
  background-repeat:no-repeat;
  background-size:cover;
  overflow: hidden;
  background-position-y: 0%; 
  transition: background-position-y 2.5s linear;
}

.bg-header:hover{
  background-position-y: 45% ;
}

.bg-stay{
  background-position-y: 45% !important;
}
/* .bg-header:not(:hover) {
  background-position-y: 0%;
} */

.bg-header::before{
  content: '';
  position:absolute;
  height: 100%;
  width: 20px;
  top:0;
  left:-110%;
  filter: blur(45px);
  transform: translate(-50%, -50%) rotateZ(108deg);
  background-color: rgb(255, 255, 255, 0.3);
  border:none;
  animation: shine 10s linear infinite;
}

@keyframes shine {
  from {
    top: 0%;
    left:110%;
    height: 100%;

  } 
  50% {
    top: 50%;
    left: 56%;
    height: 500%;
  }
  to {
    top: 100%;
    left: 0%;
    height: 100%;
  }
}

.img-shadows{
  filter: 
  drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3))
  drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3))
  drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.3))
  drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.3));
}

.img-animation {
  animation: img-move .7s linear forwards;
}

@keyframes img-move{
  from {
    transform: translateX(-310px);
  }
  to {

    transform: translateX(130px);
  }
}
.img-shake {
  animation: shake 2s infinite
}
@keyframes shake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
  
}
.header-text-move{
  animation: text-move .7s linear forwards ;
}

@keyframes text-move {
  from {
    opacity: 0;
    transform: translateX(-1080px);
  }
  to {
    opacity: 1;
    transform: translateX(-300px);
  }
  
}