/* universal styling */

body {
  background-color: rgba(11,39,61,1);
  color: rgb(155,155,155);
}
html::-webkit-scrollbar{
  width: 7px;
}
/* Track */
html::-webkit-scrollbar-track {
  background: rgba(17,58,89,0.5);
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: rgba(11,39,61,0.7);
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.7);
}
/* Navbar */

.nav-ul{
  border-bottom: 1px solid white;
  padding-bottom: 1px;
}
.bg-nav {
  background: linear-gradient(23deg, rgba(17,58,89,1) 39%, rgba(11,39,61,1) 61%);
  animation: animate-nav .5s linear forwards;
}
@keyframes animate-nav {
  0% {
    height: 56px;
  }  
  100% {
    height: 46px;
  }
}

/* Authenticate */

.auth-img{
  width: 100%;
  object-fit: cover;
  background-position: center center;
  filter: brightness(70%);
}

.auth-cont{
  background-color: transparent;
  border: 2px solid rgba(0,204,200,0.8);
  border-radius: 15px;
  backdrop-filter: blur(20px);
  box-shadow: inset 0 0 10px rgba(0,204,200,0.8);
  filter: brightness(100%);
}
.inputs-border{
  position: relative;
  border-bottom: 1px solid #00cccc;
  border-left: 1px solid #00cccc;
  border-right: 1px solid #00cccc;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}
.inputs-border::placeholder{
  color:#00cccc;
  opacity: 0.5;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #00cccc83;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #00cccc; 
}


#authBtn:hover{
  animation: expand .6s forwards;
  font-size: 20px;
}

@keyframes expand {
  from {
    width: 70px;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(0,204,200);
  }
  to {
    width:100%;
    height:50px;
    border: 2px solid rgba(0, 204, 200);
    background-color: rgba(0 ,36 ,66);
    border-radius: 10px;
    font-size:30px;
    font-weight: 700;
  }
}

.si-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top :2px solid #00cccc;
  padding: 10px 0 10px 0;
  font-size: 25px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.si-box:hover{
  background-color: #00cccc;
  color: #001e37;
  font-weight: 700; 
  transition: all .6s ease;
}

.auth-fading{
  animation: fading .6s forwards;
}

@keyframes fading {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to{
    opacity: 0;
    transform: translateY(150px);
  }
}

.auth-active{
  animation: displaying .6s forwards
}

@keyframes displaying {
    from {
      opacity: 0;
      transform: translateY(150px)
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

.icon-box {
  border: 1px solid rgba(0,204,204,0.5);
  padding:10px;
  border-radius: 12px;
}

.icon-box:hover g{
  fill:#00cccc;
  transition: all .4s ease;
}

/* Home */

.bg-header{
  position: relative;
  background-image: url('./Assets/AI_Spectrum.svg');
  background-color: rgba(11,39,61,1);
  background-repeat:no-repeat;
  background-size:cover;
  overflow: hidden;
  background-position-y: 0%; 
}

.bg-positioning {
  background-position-y: 45%;
  transition: background-position-y 2.5s linear;
}

.bg-stay{
  background-position-y: 45% !important;
}

.bg-header::before{
  content: '';
  position:absolute;
  height: 100%;
  width: 20px;
  top:0;
  left:-110%;
  filter: blur(35px);
  transform: translate(-50%, -50%) rotateZ(108deg);
  background-color: rgb(255, 255, 255, 0.3);
  border:none;
  animation: shine 9s linear infinite;
}

@keyframes shine {
  from {
    top: 0%;
    left:110%;
    height: 100%;

  } 
  50% {
    top: 50%;
    left: 56%;
    height: 500%;
  }
  to {
    top: 100%;
    left: 0%;
    height: 100%;
  }
}

.img-shadows{
  filter: 
  drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3))
  drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3))
  drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.3))
  drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.3));
}

.img-animation {
  animation: img-move .7s linear forwards;
}

.img-move {
  transform: translateX(0);
  transition: transform 1s linear;
}

.brain-pulsing{
  animation: brain-pulses 1s linear infinite
}

@keyframes brain-pulses{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
#h-text h2, #h-text p{
  position: relative;
}

#h-text h2::before {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  width:0;
  color: white;
  height:100%;
  content:attr(data-text);
  overflow: hidden;
  animation:animate-text 10s linear infinite
}

@keyframes animate-text {
  0%,10%,100% {
    width: 0;
  }  
  70%, 90% {
    width:100.45%;
  }
}

#h-text p::before {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  width:0;
  color: white;
  height:100%;
  content:attr(data-text);
  overflow: hidden;
  animation:animate-text 10s linear infinite;
}

.card-styling {
  border-radius: 15px;
  background-color: rgba(17,58,89,1);
  transition: background-color .5s linear;
  box-shadow: inset 0 0 10px 5px 
              rgba(0, 0, 0, 0.5);
}

.card-img {
  animation: bouncing-img .6s linear infinite;
}

@keyframes bouncing-img {
  0% {
    transform: translateY(0);
  }  
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.card-borders{
  position: relative;
  overflow: hidden;
  background-color: rgb(17,58,89,0.5);
  border-radius:15px;
  transition: all .3s linear;
  z-index: 10;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0 , 0.5),
              10px 0 20px -5px rgba(0, 0, 0 , 0.5);
}

.card-borders::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 160%;
  background-color: white;
  z-index: -10;
  animation: rotation 10s linear infinite;
  transform-origin: center;

}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-borders button:hover {
  box-shadow: inset 0 0 10px 5px 
              rgba(0, 0, 0, 0.5);
  transition:all .4s linear;
  background-color: rgb(255,255,255);
  font-weight:900;
  color: black;
}

.card-borders button:not(:hover) {
  box-shadow: none;
  transition: all .4s linear;
  background-color: transparent;
  color: white;
  font-weight:normal;
}

.side-img1, .side-img2, .side-img3 {
  position: relative;
  overflow: hidden;
}

.side-img1:hover, .side-img2:hover, .side-img3:hover {
  transform: rotate(0deg) scale(1.2);
  box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.75),
              0 10px 20px -5px rgba(0,0,0,0.75),
              10px 0 20px -5px rgba(0,0,0,0.75);
  transition: all .4s linear;
}

.side-img1:not(:hover), .side-img2:not(:hover), .side-img3:not(:hover) {
  transform: rotate(45deg);
  transition: transform .4s linear;
}

.side-img1::before, .side-img3::before {
  position: absolute;
  content: '';
  width: 300px;
  height: 300px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-position: center center;
  background-size: contain;
}
.side-img2::before{
  position: absolute;
  content: '';
  width: 300px;
  height: 300px;
  background-color: white;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-position: center center;
  background-size: contain;
}

.side-img1::before {
  background-image: url('./Assets/section_2_HTML.webp');
}

.side-img2::before {
  background-image: url('./Assets/section_2_CSS.png');
}

.side-img3::before {
  background-image: url('./Assets/section_2_JSwebp.webp');
}


