  /* universal styling */

  body {
    background-color: rgba(11,39,61,1);
    color: rgb(155,155,155);
  }
  html::-webkit-scrollbar{
    width: 7px;
  }

  html::-webkit-scrollbar-track {
    background: rgba(17,58,89,0.5);
  }

  html::-webkit-scrollbar-thumb {
    background: rgba(11,39,61,0.7);
  }

  html::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.7);
  }

  /* Navbar */

  .bg-nav {
    animation: animate-nav .5s linear forwards;
  }
  @keyframes animate-nav {
    0% {
      background: none;
      height: 66px;
    }  
    100% {
      background: linear-gradient(23deg, rgba(17,58,89,1) 39%, rgba(11,39,61,1) 61%);
      height: 56px;
    }
  }

  .nav-btn{
    position: relative;       
  }

  .nav-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-100deg);
    width: 38px;
    height: 40px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-radius: 50%;
  }

  .nav-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-210deg);
    width: 42px;
    height: 44px;
    border-top-width: 2px;
    border-left-width: 1px;
    border-radius: 50%;
  }

  .nav-btn:hover{
    animation: rotation-btn 5s linear infinite;
  }

  @keyframes rotation-btn {
    0%{
      transform: rotate(90deg);
    }
    100%{
      transform: rotate(450deg);
    }
  }
  .nav-ul {
    position: relative;
  }

  .nav-ul::before{
    position: absolute;
    left:50%;
    top:60%;
    transform: translate(-50%, -25%);
    content: "";
    width: 160%;
    height: 80%;
    border: 1px solid white;
    border-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: -10;
    animation: link-border .2s linear forwards
  }

  @keyframes link-border {
    0% {
      width:0;
      height: 0;
    }
    100% {
      width: 160%;
      height: 80%;
    }
    
  }
  /* Authenticate */

  .auth-img{
    width: 100%;
    object-fit: cover;
    background-position: center center;
    filter: brightness(70%);
  }

  .auth-cont{
    background-color: transparent;
    border: 2px solid rgba(0,204,200,0.8);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 10px rgba(0,204,200,0.8);
    filter: brightness(100%);
  }
  .inputs-border{
    position: relative;
    border-bottom: 1px solid #00cccc;
    border-left: 1px solid #00cccc;
    border-right: 1px solid #00cccc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
  }
  .inputs-border::placeholder{
    color:#00cccc;
    opacity: 0.5;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #00cccc83;
    border: 1px solid #333;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-color: #00cccc; 
  }


  .auth-btn:hover{
    animation: expand .6s forwards;
    font-size: 20px;
  }

  @keyframes expand {
    from {
      width: 70px;
      height: 40px;
      background: transparent;
      border: 2px solid rgba(0,204,200);
    }
    to {
      width:100%;
      height:50px;
      border: 2px solid rgba(0, 204, 200);
      background-color: rgba(0 ,36 ,66);
      border-radius: 10px;
      font-size:30px;
      font-weight: 700;
    }
  }

  .si-box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top :2px solid #00cccc;
    padding: 10px 0 10px 0;
    font-size: 25px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .si-box:hover{
    background-color: #00cccc;
    color: #001e37;
    font-weight: 700; 
    transition: all .6s ease;
  }

  .auth-fading{
    animation: fading .6s forwards;
  }

  @keyframes fading {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to{
      opacity: 0;
      transform: translateY(150px);
    }
  }

  .auth-active{
    animation: displaying .6s forwards
  }

  @keyframes displaying {
      from {
        opacity: 0;
        transform: translateY(150px)
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
  }

  .icon-box {
    border: 1px solid rgba(0,204,204,0.5);
    padding:10px;
    border-radius: 12px;
  }

  .icon-box:hover g{
    fill:#00cccc;
    transition: all .4s ease;
  }

  /* Home */

  .bg-header{
    position: relative;
    background-image: url('./Assets/AI_Spectrum.svg');
    background-color: rgba(11,39,61,1);
    background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
    background-position-y: 0%; 
  }
  @media (max-width:800px) {
    .bg-header {
      background-size: auto;
      background-position-x: 50%;
    }
  }
  .bg-positioning {
    background-position-y: 45%;
    transition: background-position-y 2.5s linear;
  }

  .bg-stay{
    background-position-y: 45% !important;
  }

  .img-shadows{
    filter: 
    drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3))
    drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3))
    drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.3))
    drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.3));
  }

  .img-animation {
    animation: img-move .7s linear forwards;
  }

  .img-move {
    transform: translateX(0);
    transition: transform 1s linear;
  }

  .brain-pulsing{
    animation: brain-pulses 1s linear infinite;
  }

  @keyframes brain-pulses{
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  #h-text h2, #h-text p{
    position: relative;
  }

  #h-text h2::before {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    width:0;
    color: white;
    height:100%;
    content:attr(data-text);
    overflow-wrap: break-word;
    animation:animate-text 10s linear infinite
  }

  @keyframes animate-text {
    0%,10%,100% {
      width: 0;
    }  
    70%, 90% {
      width:100%;
    }
  }

  #h-text p::before {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    width:0;
    color: white;
    height:100%;
    content:attr(data-text);
    overflow: hidden;
    overflow-wrap: break-word;
    animation:animate-text 10s linear infinite;
  }

  .card-styling {
    border-radius: 15px;
    background-color: rgba(17,58,89,1);
    transition: background-color .5s linear;
    box-shadow: inset 0 0 10px 5px 
                rgba(0, 0, 0, 0.5);
  }

  .card-img {
    animation: bouncing-img .6s linear infinite;
  }

  @keyframes bouncing-img {
    0% {
      transform: translateY(0);
    }  
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .card-borders{
    position: relative;
    overflow: hidden;
    background-color: rgb(17,58,89,0.5);
    border-radius:15px;
    transition: all .3s linear;
    z-index: 10;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0 , 0.5),
                10px 0 20px -5px rgba(0, 0, 0 , 0.5);
    
  }

  .card-borders::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 160%;
    background-color: white;
    z-index: -10;
    animation: rotation 10s linear infinite;
    transform-origin: center;

  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .card-borders button:hover {
    box-shadow: inset 0 0 10px 5px 
                rgba(0, 0, 0, 0.5);
    transition:all .4s linear;
    background-color: rgb(255,255,255);
    font-weight:900;
    color: black;
  }

  .card-borders button:not(:hover) {
    box-shadow: none;
    transition: all .4s linear;
    background-color: transparent;
    color: white;
    font-weight:normal;
  }

  .side-img1, .side-img2, .side-img3 {
    position: relative;
    overflow: hidden;
  }

  .side-img1:hover, .side-img2:hover, .side-img3:hover {
    transform: rotate(0deg) scale(1.2);
    box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.75),
                0 10px 20px -5px rgba(0,0,0,0.75),
                10px 0 20px -5px rgba(0,0,0,0.75);
    transition: all .4s linear;
  }

  .side-img1:not(:hover), .side-img2:not(:hover), .side-img3:not(:hover) {
    transform: rotate(45deg);
    transition: transform .4s linear;
  }

  .side-img1::before, .side-img3::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-position: center center;
    background-size: contain;
  }
  .side-img2::before{
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    background-color: white;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-position: center center;
    background-size: contain;
  }

  .side-img1::before {
    background-image: url('./Assets/section_2_HTML.webp');
  }

  .side-img2::before {
    background-image: url('./Assets/section_2_CSS.png');
  }

  .side-img3::before {
    background-image: url('./Assets/section_2_JSwebp.webp');
  }

  /* Footer */

  .bg-footer{
    background-color: rgba(17,58,89,0.5);
  }


  footer svg g {
    fill: rgba(11,39,61,1) !important;
  }

  footer svg g:hover {
    fill: white !important;
    transition: all .5s linear; 
  }

  /* Services */

  .head-img {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .path-shadow{
    box-shadow: 3px 5px 29px 14px rgba(34,90,133,1);
  }

  .plan-head{
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 36px 0px, 
                rgba(0, 0, 0, 0.35) 0px 0px 0px 1px;
  }

  .plan-head::before {
    position: absolute;
    content: "";
    width: 300px;
    background-color: white;
    height: 46px;
    top: -50px;
    left: -80px;
    transform:rotate(140deg);
  }

  .plan-head:hover:before{
    height: 76px;
    transition: all .5s linear;
  }
  .plan-head:not(:hover):before {
    height: 46px;
    transition: all .5s linear;
  }

  .plan-head::after {
    position: absolute;
    content: "";
    width: 300px;
    background-color: white;
    height: 46px;
    bottom: -50px;
    right: -80px;
    transform:rotate(140deg);
  }

  .plan-head:hover:after {
    height: 76px;
    transition: all .5s linear;
  }

  .plan-head:not(:hover):after {
    height: 46px;
    transition: all .5s linear;
  }

  /* Contact Form */

  .input-label{
    position: absolute;
    top:17px;
    left:14.5px;
    font-size: 18px;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .3s linear;
    background-color: rgb(11,39,61);
    color: rgba(255,255,255,0.6);
    z-index: -1;
  }

  /* About page */
  
  .outer-circle {
    position: relative;
    border:2px solid rgba(17,58,89,1);
    background-color: rgba(17,58,89,1);
    animation: circle-display 4s linear forwards;
  }

  @keyframes circle-display{
    0%{
      width: 0px;
      height: 0px;
      opacity: 0;
    }
    100% {
      width: 740px;
      height: 740px;
      opacity: 1;
    }
  }

  .outer-circle::before{
    position: absolute;
    content: "";
    top: 50%; bottom: 0; left: 50%; right: 0;
    width: 98%;
    height: 98%;
    border:2px solid rgba(17,58,89,1);
    border-radius: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background-color: rgb(11,39,61);
  }

  .circle-position {
    position: absolute; 
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    z-index: 10;
  }
    
  @keyframes circle-animation1 {
    0% { transform: rotate(0deg) translateY(-370px) rotate(0deg); }
    100% { transform: rotate(290deg) translateY(-370px) rotate(-290deg); }
  }

  @keyframes circle-animation2 {
    0% { transform: rotate(0deg) translateY(-370px) rotate(0deg); }
    100% { transform: rotate(70deg) translateY(-370px) rotate(-70deg); }
  }

  @keyframes circle-animation3 {
    0% { transform: rotate(0deg) translateY(-370px) rotate(0deg); }
    100% { transform: rotate(140deg) translateY(-370px) rotate(-140deg); }
  }

  @keyframes circle-animation4 {
    0% { transform: rotate(0deg) translateY(-370px) rotate(0deg); }
    100% { transform: rotate(220deg) translateY(-370px) rotate(-225deg); }
  }

  @keyframes circle-animation5 {
    0% { transform: rotate(0deg) translateY(-370px) rotate(0deg); }
    100% { transform: rotate(360deg) translateY(-370px) rotate(-360deg); }
  }
  .circle-position:nth-child(1) {
    animation: circle-animation1 4s linear forwards ;
  }
  
  .circle-position:nth-child(2) {
    animation: circle-animation2 4s linear forwards 
  }
  
  .circle-position:nth-child(3) {
    animation: circle-animation3 4s linear forwards ;
  }
  
  .circle-position:nth-child(4) {
    animation: circle-animation4 4s linear forwards ;
  }
  
  .circle-position:nth-child(5) {
    animation: circle-animation5 4s linear forwards ;
  }
  

